    /* =======================================================================================================
                                                HOMEPAGE 
    =======================================================================================================   
    */

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Inter', sans-serif;
        color: black;
    }

    body,
    html {
        overflow-x: hidden !important;

    }

    #hero-section,
    #header-section {
        background-image: url('./../images/Hero-Section-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 46px;
        padding-bottom: 130px;
        color: #FFFFFF;
    }

    #header-section {
        background-image: url('./../images/header-background.png');
    }

    #hero-section .navbar,
    #header-section .navbar {
        padding: 0;
    }

    #hero-section .navbar-brand,
    #header-section .navbar-brand {
        padding: 0;
    }

    #hero-section .nav-link,
    #header-section .nav-link {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        padding-right: 12px;
        padding-left: 12px;
        transition: color .2s;
    }

    #hero-section .nav-link:hover,
    #header-section .nav-link:hover {
        color: #C5D0D8;

    }

    .hero-section-right,
    .hero-section-left {
        margin-top: 69px;
    }

    #hero-section h1 {
        font-size: 40px;
        font-weight: 900;
        color: #F3F9FF;
        width: 94%;
        margin-bottom: 0;
    }

    .hero-section-right .price {
        margin-bottom: 10px !important;
        font-weight: 700;
        font-size: 14px;
    }

    .hero-section-right .caption {
        margin: 10px 0 0 !important;
        font-weight: bold;
        font-size: 14px;
    }

    .hero-section-right a {
        display: block;
        width: 232px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #27337B;
        border-radius: 50px;
        font-size: 14px;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
        margin-top: 36px;
        box-shadow: 0 15px 20px 0 rgba(8, 19, 83, 25%);
        transition: all .2s;
    }

    .hero-section-right a:hover {
        background-color: #2d3b8b;
        box-shadow: 0 15px 20px 0 rgba(8, 19, 83, 30%);
    }

    #homepage-section-2 {
        padding: 70px 0 70px;
    }

    #homepage-section-2 h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #homepage-section-2 .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 0;
    }

    #homepage-section-2 .features {
        margin-top: 87px;
    }

    .feature-1,
    .feature-2,
    .feature-3,
    .feature-4,
    .feature-5,
    .feature-6 {
        width: 90%;
        margin: auto;
    }

    .feature-1 img,
    .feature-2 img,
    .feature-3 img,
    .feature-4 img,
    .feature-5 img,
    .feature-6 img {
        height: 44px;
        width: 44px;
    }

    .feature-1 h3,
    .feature-2 h3,
    .feature-3 h3,
    .feature-4 h3,
    .feature-5 h3,
    .feature-6 h3 {
        font-size: 20px;
        font-weight: normal;
        color: #16205A;
        margin-top: 6px;
    }

    .feature-1 p,
    .feature-2 p,
    .feature-3 p,
    .feature-4 p,
    .feature-5 p,
    .feature-6 p {
        font-size: 14px;
        font-weight: normal;
    }

    .features .second-row-spacing {
        margin-top: 73px;
    }

    #homepage-section-3 {
        padding: 70px 0 70px;
        background-image: url('./../images/third-section-background.png');
        background-size: cover;
        background-attachment: fixed;
    }

    #homepage-section-3 img {
        width: 38px;
        display: block;
        margin: 0 auto 16px;
    }

    #homepage-section-3 h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #FFFFFF;
    }

    #homepage-section-3 .sub-heading {
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 0;
    }

    .plan-box {
        background-color: #FFFFFF;
        width: 100%;
        border-radius: 10px;
        padding: 50px 1rem;
        margin: 127px auto 0;
        box-shadow: 7px 8px 10px 0 rgba(26, 34, 82, 50%) !important;
    }

    .plan-box h2 {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #16205A;
        margin-bottom: 10px;
    }

    .plan-box p {
        text-align: center;
        color: black;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
    }


    .sale-price {
        font-size: 40px !important;
        font-weight: black !important;
        margin-bottom: 0 !important;
        margin-top: 37px;
    }

    .per-month {
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .get-started {
        display: block;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        height: 48px;
        width: 198px;
        line-height: 48px;
        background-color: #27337B;
        margin: 0 auto 0;
        color: #FFFFFF;
        margin-top: 28px;
        text-decoration: none;
        box-shadow: 0 15px 20px 0 rgba(39, 51, 123, 25%);
        transition: all .2s;
    }

    .get-started:hover {
        text-decoration: none;
        background-color: #2d3b8b;
        color: white;
        box-shadow: 0 15px 20px 0 rgba(39, 51, 123, 30%);
    }

    #homepage-section-3 ul,
    #hosting-packages ul {
        list-style-position: inside;
        padding-left: 2rem;
        width: 100%;
        margin: 36px auto 0;
        font-size: 14px;
        font-weight: light;
        list-style-image: url('./../images/tick.png');
    }

    .plan-box-link {
        text-align: center;
        color: black;
        font-size: 14px;
        display: block;
        margin: 67px auto 0;
        text-decoration: underline;
        transition: color .2s;
    }

    .plan-box-link:hover {
        color: #2d3b8b;

    }

    .center-hosting {
        background-color: #F8FBFF;
        width: 100% !important;
        margin-top: 87px;
    }

    .center-hosting .plan-box-link {
        margin-top: 145px !important;
    }

    #faq-section {
        padding: 70px 0 70px;
    }

    #faq-section h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #faq-section .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #faq-section .question {
        font-size: 18px;
        color: #16205A;
        margin-bottom: 26px;
        font-weight: bold;
    }

    #faq-section .answer {
        font-size: 14px;
        color: black;
        margin: 0 0 0 1.5rem;

    }

    #faq-section .faq-row-2 {
        margin-top: 74px;
    }

    #support-section {
        background-image: url('./../images/support-background.png');
        background-size: cover;
        padding: 40px 0;
    }

    #support-section h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        color: #FFFFFF;
        margin-bottom: 0;
    }

    #news-section {
        padding: 70px 0 170px;
    }

    #news-section h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #news-section .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #news-section .article-thumbnail {
        border-radius: 10px;
        padding: 10px;
        background-color: #F8FBFF;
    }

    #news-section .article-thumbnail a {
        color: black;
    }

    #news-section .article-thumbnail a:hover {
        text-decoration: none;
    }

    #news-section .article-thumbnail img {
        width: 100%;
        border-radius: 10px;
        margin: 0 auto 0;
    }

    #news-section .article-thumbnail h4 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 19px;
        transition: color .2s;
    }

    #news-section .article-thumbnail h4:hover {
        color: #16205A;
    }

    #news-section .article-thumbnail p {
        font-size: 12px;
        margin-top: 12px;
        width: 93%;
    }

    #news-section .article-thumbnail ul {
        list-style-type: none;
        font-size: 12px;
        color: #9B9DAB;
    }

    #news-section .article-thumbnail ul li {
        display: inline-block;
    }

    #news-section .article-thumbnail ul li:nth-child(2) {
        margin-left: 40px;
    }

    #news-section .article-thumbnail ul li:nth-child(3) {
        margin-left: 18px;
    }

    #news-section .article-thumbnail ul li img {
        width: 16px;
    }

    #news-section .view-more {
        margin: 90px 0 0 !important;
        color: #16205A;
    }

    #news-section .view-more-link {
        color: #16205A;
        text-decoration: none;
        transition: color .2s;
    }

    #news-section .view-more-link:hover {
        color: #2d3b8b;

    }

    #news-section .article-thumbnail .more-news-icon {
        width: 30px;
    }

    #partners-section {
        background-color: #F8FBFF;
        padding: 30px 0;
    }

    #partners-section div[class^="col"] {
        padding: 0 !important;
    }

    #footer {
        padding: 70px 0;
        background-image: url('./../images/footer-background.png');
        background-size: cover;
    }

    .footer-column {
        width: 70%;
        margin: 0 auto 0;
    }

    #footer .company-intro {
        padding-top: 12px;
        color: #FFFFFF;
        font-weight: 300;
        font-size: 14px;
    }

    #footer ul.social {
        list-style-type: none;
    }

    #footer ul.social li {
        display: inline-block;
        margin-right: 16px;
        margin-top: 4px;
    }

    #footer h3 {
        color: #FFFFFF;
        font-size: 20px;
        margin-bottom: 0;

    }

    #footer ul.contact {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 14px;
        margin: 15px 0 0;
        list-style-type: none;
    }

    #footer ul.contact li:nth-child(1),
    #footer ul.contact li:nth-child(2) {
        margin-bottom: 24px;
    }

    #footer ul.contact img {
        float: left;
        margin-right: 10px;
    }

    #footer ul.packages {
        margin: 15px 0 0 1.3rem;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 300;
    }

    .copyright {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        margin-top: 110px;
    }

    /* =======================================================================================================
                                                HOSTING PAGE
    =======================================================================================================   
    */

    #header-section {
        text-align: center;
        padding-bottom: 16rem;
    }

    #header-section h1 {
        margin-top: 117px;
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: bold;
    }

    #header-section p {
        font-size: 18px;
        margin-bottom: 21px;
    }

    .breadcrumbs {
        font-size: 18px;
    }

    .breadcrumbs a {
        color: #FFFFFF;
        text-decoration: none;
        transition: color .2s;
    }

    .breadcrumbs a:hover {
        color: #C5D0D8;
    }

    .toggle {
        --width: 160px;
        --height: calc(var(--width) / 5);
        position: relative;
        display: inline-block;
        width: var(--width);
        height: var(--height);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .toggle input {
        display: none;
    }

    .toggle .labels {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-family: sans-serif;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    .toggle .labels::after {
        content: attr(data-off);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #ffff;
        background-color: #27337B;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
        transition: all 0.4s ease-in-out;
    }

    .toggle .labels::before {
        content: attr(data-on);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: calc(var(--width) * -1);
        height: 100%;
        width: 100%;
        color: #ffffff;
        background-color: #16205A;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
        transition: all 0.4s ease-in-out;
    }

    .toggle input:checked~.labels::after {
        transform: translateX(var(--width));
    }

    .toggle input:checked~.labels::before {
        transform: translateX(var(--width));
    }

    #hosting-packages {
        padding: 70px 0;
        background-image: url('./../images/hosting-packages-background.png');
        background-size: cover;
    }

    #hosting-packages h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    #hosting-packages p {
        font-size: 16px;
        font-weight: 600;
        color: #16205A;
        margin-bottom: 0;
    }

    #hosting-packages .monthly-yearly-label {
        font-weight: 16px;
        font-weight: 500;
        margin: 0 3.5rem 5px 0;

    }

    #hosting-packages .plan-box {
        box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.1) !important;
    }

    #benefits-section {
        padding: 70px 0;
    }

    #benefits-section h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #benefits-section .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    .benefit {
        width: 85%;
        margin: 0 auto;
    }

    #benefits-section img {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    #benefits-section h3 {
        font-size: 18px;
        font-weight: bold;
        color: #16205A;
        margin-left: 1rem;
    }

    #benefits-section p {
        font-size: 14px;
        margin-left: 1rem;
    }

    #benefits-section .benefit-spacing {
        margin-top: 50px;
    }

    #important-feature {
        padding: 120px 0 70px;
        background-image: url('./../images/cloud-background.png');
        background-size: cover;
    }

    #important-feature section {
        width: 85%;
        margin: 0 auto;
    }

    #important-feature h1 {
        font-size: 30px;
        font-weight: bold;
        color: #16205A;
        margin-bottom: 30px;
    }

    #important-feature p {
        font-size: 14px;
        font-weight: 400;
    }

    #important-feature img {
        width: 85%;
        display: inline-block;
        margin: 0 auto;
    }

    #support-section-2 {
        background-image: url('./../images/Background-support.png');
        background-size: cover;
        background-position: center center;
        padding: 100px 0;
    }

    #support-section-2 h1 {
        font-size: 40px;
        font-weight: 800;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    #support-section-2 p {
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 0;
        font-weight: 400;
    }

    #support-section-2 .support-container {
        border-radius: 10px;
        text-align: center;
        background-color: #283371;
        padding: 20px 1rem;
        box-shadow: 4px 0 50px 0 rgba(0, 0, 0, 10%);
        transition: all .2s;
    }

    #support-section-2 .support-container p {
        margin: 16px 0 0;
    }

    #support-section-2 .support-container a {
        color: #FFFFFF;
        text-decoration: none;
    }

    #support-section-2 a:hover {
        text-decoration: none;
    }

    #support-section-2 .support-container:hover {
        background-color: #253069;
    }

    #newsletter {
        padding: 70px 0;
    }

    #newsletter h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #newsletter .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #newsletter input[type="email"] {
        width: 353px;
        outline: none;
        border: 0;
        border-bottom: 1px solid #E2E3E8;
        color: #C5D0D8;
    }

    #newsletter input[type="email"]:hover,
    #newsletter input[type="email"]:focus {
        border-bottom-width: 2px;
    }


    #newsletter input::placeholder {
        font-size: 16px;
        font-family: "inter";
        color: #C5D0D8;
    }

    #newsletter input[type="submit"] {
        border: 0;
        border-radius: 50px;
        background-color: #27337B;
        font-family: "inter";
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 500;
        width: 182px;
        padding: 12px 0;
        margin-left: 30px;
        box-shadow: 0 15px 20px 0 rgba(39, 51, 123, 25%);
        transition: all .2s;
    }

    #newsletter input[type="submit"]:hover {
        background-color: #2d3b8b;
        box-shadow: 0 15px 20px 0 rgba(39, 51, 123, 30%);
    }

    /* =======================================================================================================
                                                DOMAIN PAGE 
    =======================================================================================================   
    */
    #domain-search-section {
        padding: 70px 0;
        background: url('./../images/domain-background.png');
        background-size: cover;
        background-position: center center;
    }

    #domain-search-section h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #domain-search-section .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #domain-search-section input[type="text"] {
        width: 100%;
        height: 57px;
        border: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        outline: none;
        box-shadow: 0 15px 20px 0 rgba(22, 32, 90, 0.1);
        padding-left: 4.5rem;
        background-image: url('./../images/Web-Icon.png');
        background-repeat: no-repeat;
        background-position: 20px center;
        color: #C5D0D8;
        transition: background-image .2s;
    }

    #domain-search-section input[type="text"]:hover,
    #domain-search-section input[type="text"]:focus {
        background-image: url('./../images/web-icon-hover.png');
    }

    #domain-search-section input::placeholder {
        color: #C5D0D8;
        font-weight: 100;
    }

    #domain-search-section select {
        border: 0;
        outline: none;
        border-left: 0.5px solid #C5D0D8;
        height: 57px;
        width: 100%;
        color: #16205A;
        box-shadow: 0 15px 20px 0 rgba(22, 32, 90, 0.1);
        appearance: none;
        background-image: url('./../images/down-arrow.png');
        background-repeat: no-repeat;
        background-position: 80% center;
        background-size: 10px;
        padding-left: 11px;
        font-size: 15px;
        position: relative;
        z-index: 2;
    }

    #domain-search-section input[type="submit"] {
        width: 80%;
        float: left;
        border: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #FFFFFF;
        font-size: 14px;
        height: 57px;
        background-color: #27337B;
        box-shadow: 0 15px 20px 0 rgba(39, 51, 123, 25%);
    }

    .extensions {
        padding-top: 46px;
        font-weight: bold;
    }

    .extension-col {
        color: #16205A;
    }

    #reasons {
        padding: 70px 0;
        background-color: #FFFFFF;
    }

    #reasons h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #reasons .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #reasons .reason {
        width: 95%;
        box-shadow: 1px 1px 5px 0px rgba(22, 32, 90, 0.1);
        border-radius: 10px;
        padding: 1.5rem 1.2rem;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        transition: background-color .2s;
    }

    #reasons .reason:hover {
        background-color: #F8FBFF;
    }

    #reasons .reason img {
        width: 40%;
    }

    #reasons .reason h4 {
        color: #16205A;
        font-size: 24px;
        font-weight: normal;
        margin: 0 auto 18px;
        width: 90%;
    }

    #reasons .reason h5 {
        font-weight: bold;
    }

    #domain-pricing {
        padding: 70px 0;
        background: url('./../images/Domain-Prices.png');
        background-size: cover;
    }

    #domain-pricing h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #domain-pricing .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #domain-pricing input[type="search"] {
        outline: none;
        border: 0;
        border: 1px solid #C5D0D8;
        border-radius: 50px;
        height: 38px;
        width: 100%;
        color: #C5D0D8;
        padding-left: 2.5rem;
        padding-right: 1rem;
        font-size: 14px;
        background-image: url('./../images/Search-Icon.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px 20px;
        transition: background-image .2s;
    }

    #domain-pricing input[type="search"]:hover,
    #domain-pricing input[type="search"]:focus {
        background-image: url('./../images/Search-Icon-Hover.png');
    }

    #domain-pricing input[type="search"]::placeholder {
        color: #C5D0D8;
        font-size: 14px;
    }

    #domain-pricing select {
        border-color: #C5D0D8;
        outline: none;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        padding: 0 1rem;
        appearance: none;
        background-image: url('./../images/down-arrow.png');
        background-repeat: no-repeat;
        background-position: 92% center;
        background-size: 10px;
        padding-left: 11px;
        font-size: 15px;
    }

    .table-spacing {
        margin-bottom: 56px;
    }

    #domain-pricing table th {
        background-color: #edf4fc;

    }

    #domain-pricing table tr {
        background-color: #F3F9FF;
        color: #16205A;
    }

    #domain-pricing table td {
        color: black;
    }

    #domain-pricing table td:first-child {
        color: #16205A;
        font-weight: bold;
    }

    #domain-pricing table td .offer {
        display: block;
        font-size: 12px;
    }

    #domain-pricing table td .special-price {
        color: #dc3545;
    }

    #characteristics {
        padding: 70px 0;
    }

    #characteristics h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #characteristics .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #characteristics h5 {
        font-weight: bold;
        color: #16205A;
        margin-bottom: 11px;
    }

    #characteristics p.para {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* =======================================================================================================
                                                IMPRESSUM PAGE
    =======================================================================================================   
    */
    #basic-info {
        padding: 70px 0;
        background-image: url('./../images/basic-info-background.png');
        background-size: cover;
    }

    #basic-info h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #basic-info .sub-heading {
        text-align: center;
        color: #16205A;
        margin-bottom: 87px;
    }

    #basic-info h6 {
        font-size: 16px;
        font-weight: bold;
    }

    #basic-info p {
        font-size: 14px;
        margin-bottom: 0;
    }

    #basic-info .row-spacing {
        margin-top: 5rem;
    }

    #disclaimer-section {
        padding: 70px 0;
    }

    #disclaimer-section h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }

    #disclaimer-section h6 {
        font-weight: bold;
        margin-bottom: 0;
    }

    #disclaimer-section p {
        font-size: 14px;
        font-weight: normal;

    }

    #disclaimer-section a {
        color: black;
    }

    /* =======================================================================================================
                                                RESPONSIVE STYLING
    =======================================================================================================   
    */

    /* Large devices  */
    @media only screen and (max-width: 1199px) {

        #hero-section h1 {
            font-size: 36px;
        }

        .plan-box {
            width: 100%;
        }

        #support-section h1 {
            font-size: 26px;
        }

        #news-section .article-thumbnail ul li:nth-child(2) {
            margin-left: 20px;
        }

        #news-section .article-thumbnail ul li:nth-child(3) {
            margin-left: 8px;
        }

        /* Hosting Page */
        #support-section-2 h1 {
            font-size: 30px;
        }

        /* Domain  Page */
        #domain-search-section {
            background-size: initial;
        }
    }

    /* Medium devices */
    @media only screen and (max-width: 991px) {
        body {
            overflow-x: hidden !important;
        }

        #header-section {
            background-image: url('./../images/Background-other-pages-md.png');
            background-size: cover;
        }

        #hero-section {
            background-size: cover;
        }

        .hero-section-left img {
            display: block;
            width: 60%;
            float: none !important;
            margin-right: auto;
            margin-left: auto;
        }

        .hero-section-right .price {
            text-align: center;
        }

        .hero-section-left {
            margin-top: 6rem;
        }

        #hero-section h1 {
            text-align: center;
            width: 60%;
            margin-right: auto;
            margin-left: auto;
        }

        .hero-section-right .caption {
            text-align: center;
        }

        .hero-section-right a {
            margin-right: auto;
            margin-left: auto;
        }

        .features .second-row-spacing {
            margin-top: 0rem;
        }

        .plan-box {
            width: 100%;
            margin: 87px auto 0;
        }

        .center-hosting .plan-box-link {
            margin-top: 67px !important;
        }

        .responsive-third-plan {
            width: 50%;
            margin-top: 50px;
        }

        #support-section h1 {
            font-size: 20px;
        }

        .row-sm-spacing {
            margin-top: 50px;
        }

        .remove-space {
            margin-top: 0;
        }

        /* HOSTING PAGE */

        #benefits-section img {
            width: 80px;

        }

        #benefits-section td {
            display: block;
        }

        .benefit {
            width: 100%;
        }

        #important-feature section {
            width: 100%;
        }

        #important-feature img {
            float: right;
        }

        #support-section-2 h1 {
            text-align: center;
        }

        #support-section-2 p {
            text-align: center;

        }

        #support-section-2 .support-container {
            margin-top: 2rem;
        }

        #partners-section .container {
            max-width: 100% !important;
        }

        /* Domain Page */
        #domain-search-section input[type="submit"] {
            width: 100%;
        }

        .extensions {
            font-size: 20px;
        }

        #reasons .reason img {
            width: 60%;
        }

        #reasons .reason h4 {
            font-size: 18px;
        }

        #reasons .reason {
            width: 100%;
        }

        #footer ul.contact {
            word-wrap: break-word;
        }
    }

    /* Small devices*/
    @media only screen and (max-width: 767px) {
        .navbar-dark .navbar-toggler {
            border: 0;
        }

        .navbar-nav {
            margin-top: 1.5rem;
        }

        .hero-section-left img {
            width: 80%;
        }

        #hero-section h1 {
            width: 55%;
        }

        .responsive-third-plan {
            width: 100%;
        }

        .center-hosting {
            margin-top: 87px;
        }

        #faq-section .faq-row-2 {
            margin-top: 0px;
        }

        #faq-section .sub-heading {
            margin-bottom: 71px;
        }

        #faq-section .question {
            margin: 1rem 0 10px;
            font-size: 16px;
        }

        #support-section h1 {
            font-size: 26px;
            line-height: 40px;
        }

        #news-section .article-thumbnail ul li:nth-child(2) {
            margin-left: 27px;
        }

        #news-section .article-thumbnail ul li:nth-child(3) {
            margin-left: 18px;
        }

        #news-section .row-sm-spacing {
            margin-top: 50px;
        }

        #footer .footer-column h3 {
            margin-top: 50px;
        }

        /* Hosting Packages */
        #hosting-packages h1 {
            text-align: center;
        }

        #hosting-packages p {
            text-align: center;
        }

        .monthly-yearly-label {
            margin-top: 87px !important;
            text-align: right !important;
        }

        .container {
            max-width: 90% !important;
        }

        #hosting-packages .plan-box {
            margin-top: 1rem;
            width: 100%;
        }

        #homepage-section-3 ul,
        #hosting-packages ul {
            padding-left: 1%;
            font-size: 12px;
        }

        #hosting-packages .center-hosting {
            width: 100%;

        }

        .responsive-third-plan {
            width: 50% !important;
            margin-top: 50px !important;
        }

        .get-started {
            width: 168px;
            height: 38px;
            line-height: 38px;
        }

        #important-feature h1 {
            font-size: 30px;
        }

        #important-feature img {
            width: 95%;
        }

        .remove-space {
            margin-top: 0 !important;
        }

        #newsletter h1 {
            font-size: 26px;
        }

        #newsletter input[type="email"] {
            width: 250px;
        }

        #newsletter input[type="submit"] {
            width: 162px;
            padding: 8px 0;
            margin-left: 1rem;
        }

        #newsletter input::placeholder {
            font-size: 14px;
        }

        /* Domain Page */
        #reasons .reason img {
            width: 40%;
        }

        #reasons .reason h4 {
            font-size: 22px;
        }

        #reasons .reason {
            width: 100%;
        }

        #reasons .third-reason-responsive {
            width: 50% !important;
            margin: 2rem auto 0 !important;
        }

        /* General Styling */
        h1 {
            font-size: 24px !important;
        }

    }

    /* Extra small devices*/
    @media only screen and (max-width: 575px) {

        #hero-section h1 {
            width: 65%;
        }

        .feature-1,
        .feature-2,
        .feature-3,
        .feature-4,
        .feature-5,
        .feature-6 {
            width: 100%;
            margin: auto;
        }

        #homepage-section-3 {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        .plan-box {
            width: 100% !important;
            margin-top: 50px !important;
        }

        .responsive-third-plan {
            margin-top: 50px !important;
        }

        #news-section {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        #news-section .article-thumbnail ul li:nth-child(2) {
            margin-left: 10px;
        }

        #news-section .article-thumbnail ul li:nth-child(3) {
            margin-left: 4px;
        }

        #support-section {
            background-size: 100% 100%;
        }

        #partners-section {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        /* Hosting Page */

        #header-section h1 {
            font-size: 18px !important;
        }

        #header-section p {
            font-size: 12px !important;
        }

        #benefits-section .benefit-spacing {
            margin-top: 0;
        }

        #benefits-section p {
            margin-bottom: 1rem;
        }

        #important-feature img {
            width: 70%;
            margin-top: 2rem;
            margin-right: 1rem;
        }

        #support-section-2 {
            background-color: #16205A;
        }

        #support-section-2 .support-container {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        #newsletter input[type="email"] {
            width: 100%;
        }

        #newsletter input[type="submit"] {
            width: 50%;
            margin: 2rem 0 0 0;
        }

        /* Domain Page */
        #domain-search-section {
            background-image: url('./../images/background-domain-search-sm.png');
            background-size: cover;
        }

        #domain-search-section input[type="text"] {
            background-size: 18px;
            background-position: 8px center;
            padding-left: 2rem;
            height: 50px;
            font-size: 12px;
        }

        #domain-search-section select {
            background-size: 5px;
            padding-left: 8%;
            height: 50px;
            font-size: 12px;
        }

        #domain-search-section input[type="submit"] {
            height: 50px;
            font-size: 12px;
        }

        .extensions {
            font-size: 12px;
            padding-top: 36px;
            padding-right: 3.2rem;
        }

        #reasons .reason {
            width: 80%;
            margin-bottom: 1rem;
        }

        #reasons .third-reason-responsive {
            width: 80% !important;
            margin-top: 0 !important;
        }

        #domain-pricing label {
            margin-top: 1rem;
        }

        #characteristics {
            padding-bottom: 14px;
        }

        #characteristics p.para {
            margin-bottom: 3.5rem;
        }

        .row-spacing {
            margin-top: 2rem !important;
        }

        .row-sm-spacing {
            margin-top: 50px !important;
        }

    }

    @media only screen and (max-width: 400px) {
        .container {
            max-width: 100%;
        }

        #hero-section h1 {
            width: 95%;
        }

        #homepage-section-3 {
            padding-left: 0;
            padding-right: 0;
        }

        .plan-box {
            width: 100% !important;
        }

        #faq-section {
            padding-right: 0;
            padding-left: 0;
        }

    }